<div class="row">
    <div class="col-md-auto">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col">

        <h1 class="display-5" jhiTranslate="home.title">Welcome to your Photo Organizer</h1>
        <p class="lead" jhiTranslate="home.subtitle">Let's go to organize your photos!</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

    </div>
</div>
<div *ngIf="isAuthenticated()">

    <h3 class="d-flex justify-content-sm-between my-3 border-bottom">
        <div class="d-flex align-items-baseline">
            <span class="mr-2">Your Tags</span>
            <div *ngFor="let tag of history; let i = index;" class="d-flex align-items-baseline">
                <button class="btn btn-link px-1 py-0" *ngIf="i !== 0"><span class="fa fa-arrow-right"></span></button>
                <button class="btn btn-link px-1 py-0" (click)="clickOnTag(tag)">{{tag.name}}</button>
                <button
                    *ngIf="getTagSelected() && history.length > 1 && i === (history.length - 1)"
                    [routerLink]="['/', { outlets: { popup: 'tag/'+ getTagSelected().id + '/delete'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-link px-1 py-0">
                    <span class="fa fa-remove"></span>
                </button>
            </div>
        </div>
        <div>
            <button
                *ngIf="getTagSelected()"
                type="button"
                class="btn btn-link jh-create-entity create-tag"
                [routerLink]="['/', { outlets: { popup: 'tag-new/' + getTagSelected().id } }]"
                replaceUrl="true"
                queryParamsHandling="merge">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </h3>

    <div class="d-flex">
        <button type="button" class="btn btn-outline-primary mr-2" *ngFor="let tag of tags" (click)="clickOnTag(tag)">
            <span class="fa fa-image"></span> {{tag.name}}
        </button>
    </div>
    <div *ngIf="tags && tags.length === 0">No tags found.</div>

    <h3 class="d-flex justify-content-sm-between my-3 border-bottom">
        <span>Your Photos ({{photos ? photos.length : '0'}})</span>
        <button
            *ngIf="getTagSelected()"
            type="button"
            class="btn btn-link jh-create-entity create-photo"
            [routerLink]="['/', { outlets: { popup: 'photo-new/' + getTagSelected().id } }]"
            replaceUrl="true"
            queryParamsHandling="merge">
            <span class="fa fa-plus"></span>
        </button>
    </h3>

    <div *ngIf="photos" [ngClass]="{ 'photos': photos.length > 6, 'photos-lower-6': photos.length <= 6 }">
        <img *ngFor="let photo of photos" class="photo" [src]="photo.thumbnail" alt="{{photo.fileName + '.' + photo.type}}">
    </div>
    <div *ngIf="photos && photos.length === 0">No photo found.</div>

    <div *ngIf="photos && photos.length > 0" class="w-100 mt-3 float-left">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

</div>
